<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

   <security-role>
      <description></description>
      <role-name>admin</role-name>
   </security-role>
   <security-constraint>
      <display-name>Board Security</display-name>
      <web-resource-collection>
         <web-resource-name>Board</web-resource-name>
         <description></description>
         <url-pattern>/addBook.jsp</url-pattern>
         <url-pattern>/editBook.jsp</url-pattern>
      </web-resource-collection>
      <auth-constraint>
         <description>권한 관리자명</description>
         <role-name>admin</role-name>
      </auth-constraint>
   </security-constraint>
   <login-config>
      <auth-method>FORM</auth-method>
      <form-login-config>
         <form-login-page>/login.jsp</form-login-page>
         <form-error-page>/login_failed.jsp</form-error-page>
      </form-login-config>
   </login-config>
   <error-page>
      <error-code>404</error-code>
      <location>/exceptionNoPage.jsp</location>
   </error-page>
   <servlet>
      <servlet-name>BoardController</servlet-name>
      <servlet-class>controller.BoardController</servlet-class>
   </servlet>

   <servlet-mapping>
      <servlet-name>BoardController</servlet-name>
      <url-pattern>*.do</url-pattern>
   </servlet-mapping>
   
</web-app>